<!DOCTYPE html>
<html>
  <head>
    <title>Display | CRG ScoreBoard</title>
    <script type="text/javascript" src="/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/json/core.js"></script>
  </head>
  <body
    sbPrefix="&: ScoreBoard.Settings.Setting(ScoreBoard.View : )"
    sbClass="box_flat: &_BoxStyle: dspIsFlat | bright: &_BoxStyle: dspIsBright | PenaltyClocks: &_HidePenaltyClocks: !"
    onload="startTime()"
  >
    <div class="DisplayPane" id="image">
      <img class="object" sbAttr="src: &_Image" sbCss="object-fit: &_ImageScaling" />
    </div>
    <div class="DisplayPane" id="video">
      <video class="object" onended="this.play();" sbAttr="src: &_Video" sbCss="object-fit: &_VideoScaling"></video>
    </div>
    <div class="DisplayPane" id="html"><iframe class="object" sbAttr="src: &_CustomHtml"></iframe></div>
    <div class="DisplayPane" id="whiteboard"><iframe class="object" src="../wb/"></iframe></div>
    <div
      class="DisplayPane"
      id="scoreboard"
      sbContext="ScoreBoard.CurrentGame"
      class="JamScore"
      sbCss="left: &_SidePadding: dspToLeftMargin | width: &_SidePadding: dspToWidth"
    >
      <div
        class="Team"
        sbForeach="Team: 1,2: only"
        sbClass="HasName: AlternateName(scoreboard),Name: sbIsNotEmpty | HasLogo: Logo: sbIsNotEmpty | HideLogos: &_HideLogos | Left: &_SwapTeams: dspIsLeft | Right: &_SwapTeams: dspIsRight"
      >
        <div
          class="Name AutoFit"
          sbDisplay="AlternateName(scoreboard),Name"
          sbAutoFitOn="Logo, &_HideLogos"
          sbCss="color: Color(scoreboard.fg) | background-color: Color(scoreboard.bg) | text-shadow: Color(scoreboard.glow): sbCssToShadow"
        ></div>
        <div class="Logo" sbCss="background-image: Logo: sbCssToUrl">&nbsp;</div>
        <div class="Score Box AutoFit" sbDisplay="Score"></div>
        <div class="Penalties" sbClass="sbHide:&_HidePenaltyClocks">
          <div
            class="Box Red sbClock"
            sbForeach="Position:: penaltyTime,num: resort=PenaltyTime"
            sbAttr="penaltyTime:PenaltyTime"
            sbDisplay="PenaltyTime: sbToSeconds"
            sbClass="InBox:PenaltyTime: > 0 | sbHide: ^StarPass: dspIsJamming"
          ></div>
        </div>
        <div class="JamScore Box AutoFit" sbDisplay="JamScore" sbClass="NoInitial: NoInitial | Overtime: /ScoreBoard.CurrentGame.InOvertime"></div>
        <div class="ShowInJam Clock StarPass AutoFit" sbDisplay="StarPass: sbToSP"></div>
        <div class="DotTimeouts Box" sbCss="background: Color(scoreboard_dots.bg)">
          <div class="Dot Timeout1" sbClass="Used: Timeouts: <1" sbCss="background: Color(scoreboard_dots.fg)"></div>
          <div class="Dot Timeout2" sbClass="Used: Timeouts: <2" sbCss="background: Color(scoreboard_dots.fg)"></div>
          <div class="Dot Timeout3" sbClass="Used: Timeouts: <3" sbCss="background: Color(scoreboard_dots.fg)"></div>
        </div>
        <div class="DotOfficialReviews Box" sbCss="background: Color(scoreboard_dots.bg)">
          <div
            class="Dot OfficialReview1"
            sbClass="Retained: RetainedOfficialReview | Used: OfficialReviews: <1"
            sbCss="background: Color(scoreboard_dots.fg)"
          ></div>
          <div
            class="Dot OfficialReviewHelper"
            sbClass="Retained: RetainedOfficialReview | Used: OfficialReviews: <1"
            sbCss="background: Color(scoreboard_dots.fg)"
          ></div>
        </div>
        <div
          class="ShowInJam Clock Jammer"
          sbForeach="Position: Jammer,Pivot: only"
          sbClass="HasLead: ^DisplayLead | Hidden: ^StarPass: dspIsNotJamming | HasClock: PenaltyTime: > 0"
        >
          <span class="Name AutoFit" sbAutoFitOn="PenaltyTime, &_HidePenaltyClocks" sbDisplay="Name, ^DisplayLead: dspToJammerName"></span>
          <span class="PenaltyTime Box Red AutoFit sbClock" sbDisplay="PenaltyTime: sbToSeconds"></span>
        </div>
        <div class="ShowInLineup ShowInTimeout Clock Jammer" sbContext="Position(Jammer)" sbClass="HasClock: PenaltyTime: > 0">
          <span class="Name AutoFit" sbAutoFitOn="PenaltyTime, &_HidePenaltyClocks" sbDisplay="Name"></span>
          <span class="PenaltyTime Box Red AutoFit sbClock" sbDisplay="PenaltyTime: sbToSeconds"></span>
        </div>
      </div>

      <!-- bottom half of the page -->
      <div
        class="ShowInJam ShowInLineup ShowInTimeout ShowInSecondLineup Clock Period Small Time Box AutoFit sbClock"
        sbContext="Clock(Period)"
        sbDisplay="Time, Direction: sbToTime"
      ></div>
      <div class="ShowInNoClock Clock Period Small Time Box AutoFit"></div>
      <div
        class="ShowInJam ShowInLineup ShowInTimeout ShowInSecondLineup ShowInNoClock Clock Period Small NameNumber Box AutoFit"
        sbDisplay="Clock(Period).Name,Clock(Period).Number,Rule(Period.Number): sbToClockInitialNumber"
      ></div>
      <div
        class="ShowInJam ShowInLineup ShowInTimeout ShowInSecondLineup Clock Jam Small NameNumber Box AutoFit"
        sbContext="Clock(Jam)"
        sbDisplay="Name,Number: sbToClockInitialNumber"
      ></div>
      <div class="ShowInJam Clock Description Small Box AutoFit">Jam</div>
      <div class="ShowInLineup Clock Description Small Box AutoFit">Lineup</div>
      <div
        class="ShowInTimeout ShowInSecondLineup Clock Description Small Box AutoFit Red"
        sbDisplay="TimeoutOwner, OfficialReview: sbToTimeoutType"
      ></div>
      <!--adding jam clock here-->
      <div
        class="ShowInJam Clock Lineup Small Box AutoFit sbClock"
        sbDisplay="Clock(Jam).Time, Clock(Jam).Direction: sbToTime"
      ></div>
      <!--end jam clock-->
      <div
        class="ShowInLineup ShowInSecondLineup Clock Lineup Small Box AutoFit sbClock"
        sbDisplay="Clock(Lineup).Time, Clock(Lineup).Direction: sbToTime"
        sbClass="Red: NoMoreJam"
      ></div>
      <div
        class="ShowInTimeout ShowInSecondLineup Clock Timeout Small Box AutoFit sbClock"
        sbDisplay="Clock(Timeout).Time, Clock(Timeout).Direction: sbToTime"
        sbClass="Red: NoMoreJam"
      ></div>
      <div class="ShowInNoClock Clock None Small Box AutoFit">Coming Up</div>
      <div class="ShowInSecondLineup Clock Description Small Below Box AutoFit" sbDisplay="Clock(Lineup).Name"></div>
      <div
        class="ShowInSecondLineup Clock Lineup Small Below Box AutoFit sbClock"
        sbDisplay="Clock(Lineup).Time, Clock(Lineup).Direction: sbToTime"
        sbClass="Red: NoMoreJam"
      ></div>

      <!-- Sponsor Banners -->
      <div class="ShowInIntermission ShowInLineup ShowInNoClock Clock RealTime" sbClass="sbHide: &_HideBanners">
        <div id="RealTime">00:00:00</div>
        <script>
        function startTime() {
          const today = new Date();
          let h = today.getHours();
          let m = today.getMinutes();
          let s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById("RealTime").innerHTML = h + ":" + m + ":" + s;
          setTimeout(startTime, 1000);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        </script>
      </div>
    </div>
    <div class="DisplayPane Show" id="cover"></div>
  </body>
</html>
